body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
  color: #222;
}

button:hover {
  background-position: 100% 0;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  border-radius: 5px !important;
}
